
#formulaire .conteneur {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    
}

.formulaire {

    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    gap: 10px;

}

#notif, #notif__autor, #notif__pref, #rating, #form__boutons {

    display: flex;
    gap: 10px;
    justify-content: space-evenly;

}


/* mdn web docs attribute selectors */

.formulaire input[type="email"] {

    font-family: 'DM Sans', sans-serif;
    color: #fff;
    background-color: #222;
    border: 1px solid #555;
    padding: 3px;
    

}

#notif {

    flex-direction: column;
    background-color: #222;
    border: 1px solid #9E92F9;
    padding: 15px;
    
}

#notif__pref {

    flex-direction: column;

}

#form__comments {

    width: 500px;
    height: 130px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    background-color: #222;
    border: 1px solid #555;
    padding: 3px;
    resize: none;
    
}

.formulaire .langage {

    flex-direction: column;
    
}

#rating {

    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

#ratings__legend {

    display: none;

}

.ratings__conteneur {

    display: flex;
    background-color: #000;
}

.stars {

    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.stars span {

    color: #aaa;
    cursor: pointer;
    transition: color .2s, transform .2s;
    font-size: 50px;

}

.stars span:hover {

    color: #9e92f9;
    transform: scale(1.15);

}

.stars span:hover ~ span {

    color: #9e92f9;

}

.star__radio:checked > span {

    color: #9e92f9;

}

.formulaire input[type="submit"], .formulaire input[type="reset"] {

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #222;
    border: 1px solid #9E92F9;
    width: 120px;
    padding: 7px;

}

.formulaire input[type="submit"]:hover, .formulaire input[type="reset"]:hover {

    color: #9EEB79;

}
